{% extends 'base.html.twig' %}

{% block title %}Edicion del actor {{actor.nombre}}{% endblock %}
{% block main %}
	{{ parent() }}
	<p>Edicion del actor <b>{{actor.nombre}}</b>.</p>
	
	<p>A lo largo de las proximas semanas iremos editando este ejemplo para dotarlo de nuevas caracteristicas
	 y funcionalidades.</p>
	 
	 {{ form(formulario) }}
	 
</div>
 <figure class="col p-3 text-center bg-light">
  <img src="{{  asset(photos_directory~'/'~(actor.fotografia ?? 'default.jpg')) }}"
  	class="actor-photo rounded" alt="Fotografia de {{  actor.nombre  }}"
  	title="Fotografia de {{ actor.nombre }}">
  	
  {%  if actor.fotografia %}
  	<figcaption class="my-3">Borrar esta fotografia
  		<a href="{{ path('actor_delete_photo', {'id':actor.id})  }}">
  			<img alt="Borrar" title="Borrar" class="boton"
  				 src="{{ asset('images/buttons/delete.png') }}">
  				 
  		</a>
  		
  		
<h3>Peliculas</h3>
<ul class="list-group p-2 my-3">
	{%  for pelicula in actor.getPeliculas() %}
		<li class="list-group-item p-2">
			<a class="align-middle" href="{{ path('pelicula_show', {'id':pelicula.id}) }}">
				{{  pelicula.titulo }}
			</a>
		</li>
	{% else %}
		<li class="list-group-item warning">No se han indicado peliculas.</li>
	{%  endfor %}

</ul>

	
  	</figcaption>
  	
    {%  endif %}

</figure>
</div>
 
	 
{%  endblock %}

	