	
	{% extends 'base.html.twig' %}
	{% block title %}Pagina de usuario {{ app.user.displayname }} {% endblock %}
	{% block main %}{{ parent() }}
		<h2>Home de {{  app.user.displayname }}</h2>
		<p>Esta es tu informacion de usuario.</p>
		<div class="bg-light border row align-items-center justify-content-center my-3">
			<div class="col m-3 p-3 text-start">
				<div class="my-2 p-2">
				 <h3>Datos</h3>
				 <p><b>#</b>: 		        {{ app.user.id }}</p>
				 <p><b>Nombre</b>: 		    {{ app.user.displayname }}</p>
				 <p><b>Email</b>: 		    {{ app.user.email }}</p>
				 <p><b>Telefono</b>: 		{{ app.user.phone ?? 'Sin especificar' }}</p>
				 <p><b>Ciudad</b>: 		    {{ app.user.city ?? 'Sin especificar' }}</p>
				 <p><b>Pais</b>: 		    {{ app.user.country ?? 'Sin especificar' }}</p>
				</div>
				
			{%  if not app.user.isVerified %}
			<div class="row alert alert-danger p-2" role="alert">
			<p>La direccion de email {{ app.user.email }} <b>no ha sido verificada</b>.
			Por favor haz clic
			en <a href="{{ path('resend_verification') }}">verificar usuario</a>
			para completar el proceso de registro y poder acceder a todas las funcionalidades
			de SymfoFilms.</p>
			</div>	
			{% endif %}	
			
				<div class="my-2 p-2">
					<h3>Operaciones</h3>
					<ul>
					<li><a href='{{ path('resend_verification') }}'>Verificar usuario</a>.</li>
						<li><a href='#'>Modificar mis datos</a>.</li>
						<li><a href="{{ path('unsubscribe') }}">Baja de usuario</a>.</li>
					<ul>
					</div>
				</div>
			</div>
			
			<h3>Aportaciones</h3>
			{%  set peliculas = app.user.getPeliculas() %}
			<p>Este usuario ha añadido {{ peliculas|length }} peliculas a Symfofilms.</p>
			
			{# incluye la subvista con la lista de peliculas #}
			{% include '/includes/lista_peliculas.html.twig' %}
		
		    		
{% endblock %}


